<%= form_with(url: search_reports_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "レポートを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @reports.each do |report| %>
    <%= link_to report_path(report.id) do %>
      <div class="content_post">
        <%= image_tag report.image if report.image.attached? %>
        <p>顧客名：<%= report.name %></p>
        <span class="name">
          <%= report.date %>
        </span>
      </div>
    <% end %>
    <div class="nickname">
      <a href="/users/<%= report.user.id %>">
        投稿者：
      <%= report.user.nickname %>
      </a>
    </div>
  <% end %>
</div>