<%# 商品の概要 %>
<div class="contents row">
  <div class="content_post"><%= image_tag @report.image, class: "content_post" if @report.image.attached? %>
      <p>顧客名：<%= @report.name %></p>
      <span class="name">
        <%= @report.date %>
      </span>
  </div>
  <div class="nickname">
    <a href="/users/<%= @report.user.id %>">
      投稿者：
    <%= @report.user.nickname %>
    </a>
  </div>
</div>

  <div class="report-box">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-name">目的</th>
          <td class="detail-value"><%= @report.purpose %></td>
        </tr>
        <tr>
          <th class="detail-name">学び</th>
          <td class="detail-value"><%= @report.outcome %></td>
        </tr>
        <tr>
          <th class="detail-name">アクション<br>プラン</th>
          <td class="detail-value"><%= @report.action_plan %></td>
        </tr>
        <% if @report.other.present? %>
          <tr>
            <th class="detail-name">備考</th>
            <td class="detail-value"><%= @report.other %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% unless user_signed_in? && current_user.id == @report.user_id %>
    <div class="container">
    <% if current_user %>
      <%= form_with(model: [@report, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    </div>
  <% end %>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>

  <div class="report-box">
    <%# <% if user_signed_in? && current_user.id == @report.user_id %> %>
      <%= link_to '編集', edit_report_path(@report.id), method: :get, class: "report-btn" %>
      <p class="or-text">or</p>
      <%= link_to '削除', report_path(@report.id), method: :delete, class: "report-destroy" %>
    <%# <% end %> %>
  </div>

  <div class="sell-btn-contents">
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>